:host {
  position: relative;
}

.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
}

.loader-container:hover {
  cursor: none;
}

