<main>
  <table>
    <thead>
    <tr>
      <th>Désignation</th>
      <th>Quantité</th>
      <th>Désignation</th>
      <th>Quantité</th>
      <th>Désignation</th>
      <th>Quantité</th>
      <th>Désignation</th>
      <th>Quantité</th>
      <th>Désignation</th>
      <th>Quantité</th>
      <th>Désignation</th>
      <th>Quantité</th>
      <th>Désignation</th>
      <th>Quantité</th>
    </tr>
    </thead>
    <tbody [loader]="show">
    <tr *ngFor="let item of data">
      <td>{{ item.label }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.value }}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="show = !show">Toggle</button>
</main>
